In [ ]:
#hide
%load_ext autoreload
%autoreload 2

In [ ]:
# default_exp  merge_datasets

In [ ]:
# export
import pandas as pd


# Merge datasets

> Merge webpage and sibatel emails

## Load the payload datasets

Payloads are obtained from scraped webpages and sibatel emails

In [ ]:
# export
def load_datasets(webpage_file, sibatel_file):

    webpages = pd.read_csv(webpage_file)
    webpages.columns = ['payload', 'type']

    sibatel = pd.read_csv(sibatel_file)[['payload']]
    sibatel['type'] = 'accept'
    sibatel.payload = sibatel.payload.apply(lambda x: x.lower())

    return webpages, sibatel

Call the `load_datasets` function

In [ ]:
webpages, sibatel = load_datasets(
    webpage_file='../data/raw/webpages.csv',
    sibatel_file='../data/raw/sibatel.csv'
)

Samples of webpage and sibatel emails

In [ ]:
sibatel.sample(2)

                                               payload    type
221  i am interested in this position and please fi...  accept
75   greetings!!\nplease find attached profile for ...  accept

In [ ]:
webpages.sample(2)

                                              payload     type
3          thank you so much for your help with this.   accept
80  thank you very much for offering me the positi...  decline

In [ ]:
webpages.type.value_counts()

decline    73
accept     50
Name: type, dtype: int64

# Merge and Export the loaded datasets

After having them loaded, we merged them

In [ ]:
# export
def merge_datasets(webpages, sibatel, dst_file):
    merged_df = pd.concat([webpages, sibatel])
    merged_df['sentiment'] = merged_df.type.apply(lambda t: int(t == 'accept'))
    _ = merged_df.pop('type')
    merged_df.to_csv(dst_file, index=False)
    return merged_df

In [ ]:
df = merge_datasets(webpages, sibatel, dst_file='../data/interim/payloads.csv')

Samples of the merged dataset

In [ ]:
df.sample(2)

                                               payload  sentiment
10   i'm sanket, i'm looking for oppurtunities in a...          1
163  i am interested in the\njob opening and i am a...          1