In [ ]:
#hide
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
# default_exp  merge_datasets

In [ ]:
# export
import pandas as pd


# Merge datasets

> Merge webpage and sibatel emails

## Load the payload datasets

Payloads are obtained from scraped webpages and sibatel emails

In [ ]:
# export
def load_datasets(webpage_file, sibatel_file):

    webpages = pd.read_csv(webpage_file)
    webpages.columns = ['payload', 'type']

    sibatel = pd.read_csv(sibatel_file)[['payload']]
    sibatel['type'] = 'accept'
    sibatel.payload = sibatel.payload.apply(lambda x: x.lower())

    return webpages, sibatel

Call the `load_datasets` function

In [ ]:
webpages, sibatel = load_datasets(
    webpage_file='../data/raw/webpages.csv',
    sibatel_file='../data/raw/sibatel.csv'
)

Samples of webpage and sibatel emails

In [ ]:
sibatel.sample(2)

                                              payload    type
11    please find the updated resume.\n\n\n\n\n\n\n\n  accept
17  i'm an experienced and hands on us recruiting ...  accept

In [ ]:
webpages.sample(2)

                                              payload     type
94  thank you again for taking the time to intervi...  decline
68  thank you for your offer for the position of a...  decline

In [ ]:
webpages.type.value_counts()

decline    73
accept     50
Name: type, dtype: int64

# Merge and Export the loaded datasets

After having them loaded, we merged them

In [ ]:
# export
def merge_datasets(webpages, sibatel, dst_file):
    merged_df = pd.concat([webpages, sibatel])
    merged_df['sentiment'] = merged_df.type.apply(
        lambda t: 'positive' if t == 'accept' else 'negative'
    )
    _ = merged_df.pop('type')
    merged_df.to_csv(dst_file, index=False)
    return merged_df

In [ ]:
df = merge_datasets(webpages, sibatel, dst_file='../data/interim/payloads.csv')

Samples of the merged dataset

In [ ]:
df.sample(2)

                                               payload sentiment
156  appreciate your interest in my profile.\npleas...  positive
70   i’m glad we had a chance to touch base.\nas we...  positive